[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = git@github.com:vdyakonov86/ORB_SLAM3.git
[submodule "ultralytics"]
	path = ultralytics
	url = git@github.com:ultralytics/ultralytics.git
[submodule "yolo-inference"]
	path = yolo-inference
	url = git@github.com:vdyakonov86/yolo-inference.git
